/*prima tabella*/

* {
    box-sizing: border-box;

}

#corposuperiore {
    width: 780px;
    height: 300px;
    padding: 2px;
}


.prodotto {
    position: relative;
    display: inline-block;
    z-index: 0;
    width: 250px;
    height: 300px;
}

/*prodotti prima tabella*/

.ipad {
    background: url(immagini/ipad.png);
    background-position: center;
}

.iphone {
    background: url(immagini/iphone.png);
    background-position: center; 
     
}

.cuffie {
    background: url(immagini/cuffie.png);
    background-position: center;   
}

/*percentuale prima tabella*/

.prodotto .percentuale {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 20px;
    z-index: 1;
    background-color: green;
}

.prodotto .percentualerosso {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    z-index: 1;
    background-color:red;
}

/*Seconda tabella*/

#corposuperiore2 {
    width: 780px;
    height: 300px;
    padding: 2px;
    margin-top: 20px;
}
